:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 219 66 152;
  --oui-color-primary-light: 244 128 204;
  --oui-color-primary-darken: 193 46 122;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 205 56 162;
  --oui-color-link-light: 235 105 193;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 255 36 207;
  --oui-color-danger-light: 255 96 147;
  --oui-color-danger-darken: 255 20 235;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 34 201 101;
  --oui-color-success-light: 90 220 143;
  --oui-color-success-darken: 14 161 67;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 171 64;
  --oui-color-warning-light: 255 206 124;
  --oui-color-warning-darken: 255 133 24;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 40 24 50;
  --oui-color-fill-active: 44 38 62;

  --oui-color-base-1: 75 57 101;
  --oui-color-base-2: 63 48 87;
  --oui-color-base-3: 54 42 75;
  --oui-color-base-4: 46 37 64;
  --oui-color-base-5: 39 32 56;
  --oui-color-base-6: 33 28 48;
  --oui-color-base-7: 63 29 53;
  --oui-color-base-8: 27 24 42;
  --oui-color-base-9: 21 19 34;
  --oui-color-base-10: 15 12 28;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 255 38 85;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 34 201 101;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 163 27 78;
  --oui-gradient-primary-end: 219 66 152;

  --oui-gradient-secondary-start: 106 42 85;
  --oui-gradient-secondary-end: 176 57 129;

  --oui-gradient-success-start: 14 137 61;
  --oui-gradient-success-end: 34 201 101;

  --oui-gradient-danger-start: 200 13 53;
  --oui-gradient-danger-end: 255 38 85;

  --oui-gradient-brand-start: 244 128 204;
  --oui-gradient-brand-end: 193 46 122;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 201 105 15;
  --oui-gradient-warning-end: 255 171 64;

  --oui-gradient-neutral-start: 27 20 23;
  --oui-gradient-neutral-end: 38 30 41;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}